header{
    display: flex;
    height: 150px;
    align-items: center;
}
header div{
    flex-grow: 1;
    background-color: red;
}
header img{
    height: 150px;
    width: 150px;
}
header nav menu{
    display: flex;
    background-color: red;
    gap: 20px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}